p.welcome{
	
	color:  black;
	font-weight: bold;
}

p.welcome{
	text-align: center;
	padding-top: 
 }

 h2.head{
 	background-color: blue;
 }

 P.OVER{
 	text-align: center;
 }

 a.fix{
 	padding: top;
 }

 a.fin{
 	text-decoration: none;
 	background-color: blue;
 	color: #fff;
 	padding: 10px;
 }